<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITicketSyncronizingService" />
        <binding name="BasicHttpBinding_ITicketCustomerSyncronizingService" />
        <binding name="BasicHttpBinding_IKashtiraniCustomerSyncronizingService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5369/Services/TicketSync.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketSyncronizingService"
        contract="Ticketing.ITicketSyncronizingService" name="BasicHttpBinding_ITicketSyncronizingService" />
      <endpoint address="http://localhost:5369/Services/TicketCustomerSync.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketCustomerSyncronizingService"
        contract="TicketCustomer.ITicketCustomerSyncronizingService"
        name="BasicHttpBinding_ITicketCustomerSyncronizingService" />
      <endpoint address="http://localhost:5369/Services/Kashtirani/KashtiraniCustomerSync.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKashtiraniCustomerSyncronizingService"
        contract="KashtiraniServices.IKashtiraniCustomerSyncronizingService"
        name="BasicHttpBinding_IKashtiraniCustomerSyncronizingService" />
    </client>
  </system.serviceModel>
</configuration>